.NewBoxForm {
    margin: 50px;
    padding:10px
}

.NewBoxForm-label {
    margin: 10px
}

.NewBoxForm-input {
    margin: 15px
}

.NewBoxForm-btn {
    margin: 10px;
    cursor: pointer;
    color: white;
    background-color: green
}

